#container {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
  }
  
  .productContainer {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(189, 166, 253);
  }
  
  img {
    width: 200px;
    height: 200px;
    -webkit-transform: scale(.5);
	transform: scale(.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  img:hover{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  button {
    border: none;
    background-color: rgb(178, 273, 178);
    padding: 10px;
    border-radius: 5px;
  }
  button:hover{
    background-color: rgb(93, 218, 93);
  }
  
  .cart {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rgb(178, 233, 178);
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid rgb(91, 214, 91);
  }
  p {
    text-align: center;
  }
  
  .itemBox {
    display: flex;
    flex-direction: row;
  }
  .cartImage {
    width: 20px;
    height: 20px;
  }
  